{:paths
 ["src"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.11.1"}
  http-kit/http-kit         {:mvn/version "2.5.3"}
  metosin/jsonista          {:mvn/version "0.3.5"}
  org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :aliases
 {:dev
  {:extra-paths ["test" "test/resources"]
   :extra-deps  {org.clojure/tools.deps.alpha   {:mvn/version "0.14.1178"
                                                 :exclusions  [org.slf4j/slf4j-log4j12
                                                               org.slf4j/slf4j-api
                                                               org.slf4j/slf4j-nop]}
                 criterium/criterium            {:mvn/version "0.4.6"}
                 ch.qos.logback/logback-core    {:mvn/version "1.2.11"}
                 ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}}
  :clj-kondo
  {:main-opts  ["-m" "clj-kondo.main --lint src test"]
   :extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.04.25"}}
   :jvm-opts   ["-Dclojure.main.report=stderr"]}
  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}}
   :main-opts   ["-m" "cognitect.test-runner"]}}}
